.btn {
  position: relative;
  max-width: 216px;
  max-height: 44px;
  padding: 12px 11px;
  padding-left: 45px;
  border: 1px solid #9873ff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  color: #9873ff;
  background-color: transparent;
  cursor: pointer;
  svg {
    position: absolute;
    fill: currentColor;
    left: 4px;
  }
}

.btn:hover {
  color: #7B61FF;
}

.btn::before {
  position: absolute;
  content: '';
  width: 22px;
  height: 16px;
  left: 13px;
  background-image: url(../assets/add_preson.svg);
}

