.addform {
  display: flex;
  flex-direction: column;
  gap: 31px;
  color: #b0b0b0;
}

.form__heading {
  align-self: flex-start;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__input {
  width: 100%;
  align-self: stretch;
  padding: 0;
  padding-bottom: 5px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #c8c5d1;
}

.form__input--surname::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.form__submit {
  max-width: 147px;
  padding: 17px 35px;
  align-self: center;
  color: white;
  border: 0;
  outline: 0;
  background-color: #9873ff;
  cursor: pointer;
}

.select-wrapper--add {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 450px;
  padding: 10px 30px;
  margin-left: -30px;
  margin-right: -30px;

  background: rgba(200, 197, 209, 0.2);
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  input {
    flex-grow: 1;
  }
}

.select-wrapper--add.show {
  padding-top: 25px;
  padding-bottom: 25px;
}

.select {
  display: none;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 25px;
}
.select.show {
  display: flex;
}

.select-container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 123px;
  border: 1px solid rgba(200, 197, 209, 0.2);
}

.select__input {
  display: flex;
  flex-grow: 1;
  input {
    border: none;
    border-top: 1px solid #c8c5d1;
    border-bottom: 1px solid #c8c5d1;
    background-color: transparent;
  }
  a {
    border: 1px solid #c8c5d1;
    width: 27px;
    padding-top: 7px;
  }
}

.select__input__select {
  width: 123px;
}

.addcontact {
  display: block;
  position: relative;
  cursor: pointer;
  color: #333333;
}

.addcontact::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  left: 105px;
  top: 4px;
  background-image: url(../assets/add_contact.svg);
  background-repeat: no-repeat;
}

.value {
  width: 100%;
  text-align: center;
}

.caret {
  position: absolute;
}

.options {
  display: none;
  position: absolute;
  top: 21px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  color: #333333;
  background-color: #f4f3f6;
}

.options.show {
  display: block;
}

.caret {
  width: 6px;
  height: 6px;
  right: 6px;
  top: 8px;
  border: 1px solid #9873ff;
  border-bottom: 0;
  border-right: 0;
  transform: rotate(225deg);
}

.option {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.option.highlighted {
  background-color: #c8c5d1;
}

.errors {
  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;
  color: #f06a4d;
}

.errors.show {
  display: flex;
}

.cancel {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline;
  color: #333333;
}
