span {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.thead {
  font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #B0B0B0;
  tr {
    td {
      padding-bottom: 9px;
    }
  }
}
