table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    margin-bottom: 40px;
}

.tbody {
    background-color: #fff;
    border-color: #fff;

}